



.one_half, 
.one_third, .two_third{display:inline; float:left; margin:0 0 0 3.125%; list-style:none;}

.one_half:first-child, 
.one_third:first-child, .two_third:first-child{margin-left:0;}

.first{margin-left:0; clear:left;}

.full_width{display:block; width:100%; clear:both;}



.one_half{width:48.4375%;}


.one_third{width:31.25%;}
.two_third{width:65.625%;}




html{overflow-y:scroll;}

body{margin:0; padding:0; font-size:150%; font-family:Georgia, "Times new roman", Times, serif; color:#919191; background-color:#232323;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style:none;}
.hidden{display:none;}

.clear{display:block; clear:both;}
.clear:after{display:block; visibility:hidden; height:0; clear:both; font-size:0; content:"";}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}



address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}


div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#C0BAB6; background-color:#333333;}
.row2{color:#919191; background-color:#232323;}
.row3{color:#979797; background-color:#FFFFFF;}
.row3 a{color:#FF9900; background-color:#FFFFFF;}
.row4, .row4 a{color:#919191; background-color:#232323;}



h1, h2, h3, h4, h5, h6{margin:0 0 8px 0; padding:0; font-size:1.6em; font-weight:normal; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

#header, #topnav, #container, #footer, #copyright{margin:0 auto; font-size:.8em;}



#header{padding:20px 0;}

#header #hgroup{display:block; float:left; width:auto; clear:right;}
#header #hgroup h1, #header #hgroup h2{margin:0; font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:2.5em;}
#header #hgroup h2{font-size:1em;}



#container{padding:30px 0; clear:both;}


#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}
nav ul{margin:0; padding:0; list-style:none;}


#topnav{padding:20px 0; color:#C0BAB6; background-color:#232323; clear:both;}
#topnav ul{margin:0; padding:0; list-style:none; text-transform:uppercase; font-size:12px;}
#topnav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none;}
#topnav ul ul ul, #topnav ul ul ul ul{left:160px; top:0;}
#topnav ul li:last-child ul, #topnav ul li.last-child ul{right:0;}
#topnav ul.negative{left:-160px;}
#topnav li{position:relative; display:block; float:left; margin:0 0 0 30px; padding:0; background-color:red;}
#topnav li:first-child, #topnav li.first{margin-left:0;}
#topnav li li{width:100%; margin:0;}
#topnav li a{display:block; padding:0;}
#topnav li li a{display:block; margin:0; padding:10px 15px;}

#topnav ul ul{display:none;}
#topnav ul li:hover > ul{display:block;}

#topnav a{color:#C0BAB6; background-color:#232323; font-weight:bold;}

#topnav li li a, #topnav li.active li a{color:#FFFFFF; background:#000000; font-weight:normal;}
#topnav li.active a, #topnav a:hover{color:#FF9900; background-color:#232323;}
#topnav ul li li:hover > a{color:#FFFFFF; background-color:#FF9900;}

#topnav li a.drop, #topnav li.active a.drop{padding-left:15px; background-image:url("images/dropdown_side.gif"); background-position:5px center; background-repeat:no-repeat;}



#topnav form{display:block; height:30px; margin:0 auto; padding:0;}
#topnav form select{display:block; width:100%; padding:8px; color:#FFFFFF; background-color:#232323; border:1px solid #494949; cursor:pointer; outline:none;}
#topnav form select option{display:block; margin:10px; padding:0; cursor:pointer; outline:none; border:none;}

